body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.star {
  display: flex;
}

.star__item {
  color: rgb(255, 202, 117);
  margin: 2px;
  cursor: pointer;
  font-size: 70px;
}

.star__item_select {
  color: rgb(255, 195, 48);
}

.star__item_active {
  color: rgb(255, 195, 48);
}

.star__item_active.star__item_select {
  color: rgb(255, 134, 0);
}